@model Tuple<IEnumerable<Makaani.Models.SingleAds>
,List<Makaani.Models.Media>>;
@{
	
	var view=ViewBag.adsViews;
}
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Product Detail</title>
    <link href="~/css/site.css" rel="stylesheet"  />

	<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>  
	<style>
a-scene {
  height: 300px;
  width: 600px;
}
#myEmbeddedScene {
  margin:90px;
  height: 300px;
  width: 600px;
}
</style>
  </head>

  <body>
	
	<div class="container-fliud">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-7">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1">
							  
							  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner" style="padding:15px;">
                                        <div class="carousel-item active" >
                                             <img src="~/uploads/property-6.jpg" width="300" height="300" style="padding:15px;" class="d-block w-100" alt="...">
                                           </div>
	 
	                                        @foreach (var item in Model.Item2)
                                                  { 
	                                            <div class="carousel-item">
                                                <img src="~/uploads/property-1.jpg" style="padding:15px;" width="300" height="300" class="d-block w-100" alt="...">
                                                  </div>
                                           }
 

  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
@*  <button class="add-to-cart btn btn-default" type="button" style="margin-left:150px;" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
 
	Previous
  </button>
  <button class="add-to-cart btn btn-default" type="button" style="margin-left:150px;" data-bs-target="#carouselExampleControls" data-bs-slide="next">
 
	Next
  </button>*@

</div>

						  </div>
						</div>

						<br /> 
								<br />
						

					</div>
					<div class="details col-md-5">
						<h3 class="product-title">@Model.Item1.ElementAt(0).Ads.Title</h3>
						<div class="rating">
							
							<span class="review-no">@view Views</span>
						</div>
						<p class="product-description">
							@Model.Item1.ElementAt(0).Ads.Descrption
						</p>
						<h4 class="price">current price: <span>$ @Model.Item1.ElementAt(0).Ads.Price</span></h4>

						<h5 class="sizes">Location :
							<br />
							<span class="size" data-toggle="tooltip" title="small">@Model.Item1.ElementAt(0).Location.LoactionLabel</span>
							<span class="size" data-toggle="tooltip" title="medium">@Model.Item1.ElementAt(0).Location.Notes</span>
@*							<span class="size" data-toggle="tooltip" title="large">@Model.ElementAt(0).Location.</span>*@
							
						</h5>
						<hr />
						<br />
	                     <div class="row" style="height:300px;">
							  <div class="col-6">
								  <h5 class="sizes">Fetures & Finishes :</h5>

							  </div>
							   <div class="col-6">
								     <h5 class="sizes">Rooms</h5>
							   </div>
					      </div>
						
						<div class="action">
							
						</div>
					</div>
				</div>
				<div class="row">
					<button class="col-3 offset-1 add-to-cart btn btn-default" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2" >
								
						Open Video
			       </button>

								
                <button class="offset-1 col-3  add-to-cart btn btn-default" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" >		
				     Open 360 Image
				</button>
			
							<button class="offset-1 col-3 like btn btn-default" type="button" >
								<a asp-controller="Saller" asp-action="InsertToLoveList"  asp-route-id="@Model.Item1.ElementAt(0).Ads.ProductId">
									<span class="fa fa-heart" style="color:white;"></span>
								</a>
							
						   </button>
						   
						   	<button class="offset-2 col-8 offset-2 add-to-cart btn btn-default" type="button" style="margin-top:40px;">
								<a asp-controller="Saller" asp-action="SendPayOffer"  asp-route-adsId="@Model.Item1.ElementAt(0).Ads.AdsId" style="color:white;">
									Send Pay Offer
								</a>
								</button>
				</div>
			</div>
		</div>
	</div>

	

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
   
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <div class="modal-header">
                 
                </div>
                <div class="modal-body">
				
                <div id="myEmbeddedScene">
  <a-scene embedded>
      <a-sky src="https://images.unsplash.com/photo-1596263576925-d90d63691097?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1622&q=80"></a-sky> 
  </a-scene>
</div>
                </div>
                <div class="modal-footer">
                  
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Full screen modal -->


	<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <div class="modal-header">
                 
                </div>
                <div class="modal-body">
				<div class="row">
				   <video class="col-12" style="margin-top:80px;" height="400px" controls>
                       <source src="mov_bbb.mp4" type="video/mp4">
                        <source src="mov_bbb.ogg" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>
				</div>

                </div>
                <div class="modal-footer">
                  
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
  
 


</html>
  