@model Tuple<IEnumerable<Makaani.Models.SingleAds>
,List<Makaani.Models.Media>>;
@{
	
	var view=ViewBag.adsViews;

}
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Product Detail</title>
    <link href="~/css/site.css" rel="stylesheet"  />

	<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>  
	<style>
a-scene {
  height: 300px;
  width: 600px;
}
#myEmbeddedScene {
  margin:90px;
  height: 300px;
  width: 600px;
}
</style>
  </head>

  <body>
	
	<div class="container-fliud">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-7">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1">
							  
							  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner" style="padding:15px;">
                                        <div class="carousel-item active" >
                                             <img src="~/uploads/property-6.jpg" width="300" height="390" style="padding:15px;" class="d-block w-100" alt="...">
                                           </div>
	 
	                                        @foreach (var item in Model.Item2)
                                                  { 
	                                            <div class="carousel-item">
													@if(@item.MediaTypeId==1){
                                                <img src="~/uploads/@item.Path" style="padding:15px;" width="300" height="300" class="d-block w-100" alt="...">
                                            }      
											</div>
                                           }
 

  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

						  </div>
						</div>
						<div style="position:absolute; top:63%;left:11%">
                                     <div class="d-flex" > 
                                        <button class=" btn btn-primary flex-fill text-center border-end py-2" style="border-color:white; width:180px"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                           
									             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-badge-vr" viewBox="0 0 16 16">
  <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
  <path d="M4.508 11h1.429l1.99-5.999H6.61L5.277 9.708H5.22L3.875 5.001H2.5L4.508 11zm6.387-5.999H8.5V11h1.173V8.763h1.064L11.787 11h1.327L11.91 8.583C12.455 8.373 13 7.779 13 6.9c0-1.147-.773-1.9-2.105-1.9zm-1.222 2.87V5.933h1.05c.63 0 1.05.347 1.05.989 0 .633-.408.95-1.067.95H9.673z"/>
</svg>
								          
                                          </button> 
                                      <i class="fa-solid fa-360-degrees"></i>
										   <button class="btn btn-primary flex-fill text-center py-2" style="border-color:white; width:180px;" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                            
                                          
									               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
</svg>
								           
                                       </button>
									     <button class=" btn btn-primary flex-fill text-center border-end py-2" style="border-color:white; width:180px">
                                           
                                           <a asp-controller="Seller" asp-action="InsertToLoveList"  asp-route-id="@Model.Item1.ElementAt(0).Ads.ProductId" >
									                 <span class="fa fa-heart" style="color:white;"></span>
								           </a>
                                        </button>
                                    
                                    </div>
									</div>
									  
					  <button class="btn btn-primary col-4  text-center py-2" style="position:absolute; top:71%;left:16%">
                                            
                                          <a asp-controller="Seller" asp-action="SendPayOffer"  asp-route-adsId="@Model.Item1.ElementAt(0).Ads.AdsId" style="color:white;">
									              Send Pay Offer
								             </a>
                                       </button>
					</div>
					<div class="details col-md-5">
						 <br />
						  <br />
						<h3 class="product-title">@Model.Item1.ElementAt(0).Ads.Title</h3>
						<div class="rating">
							
							<span class="review-no">@view Views</span>
						</div>
						<p class="product-description">
							@Model.Item1.ElementAt(0).Ads.Descrption
						</p>
						<h4 class="price">current price: <span>$ @Model.Item1.ElementAt(0).Ads.Price</span></h4>

						<h5 class="sizes">Location :
							
							@Model.Item1.ElementAt(0).Location.LoactionLabel
							<br />
							@Model.Item1.ElementAt(0).Location.Notes
						</h5>
						<h5 class="sizes">Notes :
							
							
							@Model.Item1.ElementAt(0).Location.Notes
						</h5>
						<hr />
						<br />
	                     <div class="row" style="height:300px;">
							  <div class="col-6">
								  <h5 class="sizes">Fetures & Finishes :</h5>

							  </div>
							   <div class="col-6">
								     <h5 class="sizes">Rooms</h5>
							   </div>
					      </div>
						
						<div class="action">
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
   
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <div class="modal-header">
                 
                </div>
                <div class="modal-body">
				
                <div id="myEmbeddedScene">
  <a-scene embedded>
      <a-sky src="https://images.unsplash.com/photo-1596263576925-d90d63691097?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1622&q=80"></a-sky> 
  </a-scene>
</div>
                </div>
                <div class="modal-footer">
                  
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Full screen modal -->


	<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <div class="modal-header">
                 
                </div>
                <div class="modal-body">
				<div class="row">
				   <video class="col-12" style="margin-top:80px;" height="400" controls>
                       <source src="mov_bbb.mp4" type="video/mp4">
                        <source src="mov_bbb.ogg" type="video/ogg">
                        Your browser does not support HTML video.
                    </video>
				</div>

                </div>
                <div class="modal-footer">
                  
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
  
 


</html>
  