@model IEnumerable<Makaani.Models.UserSearch>
@{
    Layout = "_LayoutSaler";
}
<div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Searches table</h6>
        </div>
    </div>
    <div class="row">
      <button type="button" class="btn-primary col-5" style="color:white; background-color:green; margin-left:80px" >
       <a asp-action="DeleteSearch" asp-route-deleteAll="true"> Clear Search History</a>
       </button>
     </div>
    <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
            <table>
           <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" colspan="2">Id</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Search Title</th>

                        <th class="text-secondary opacity-7"></th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var item in Model)
                   {
                       
                  
                    <tr>

                        <td>
                          <p class="text-xs text-secondary mb-0">@item.UserSearchId</p>
                        </td>
                        <td>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <span class="badge badge-sm bg-gradient-success">@item.SearchTitle</span>
                        </td>
                        
                       
                       
                        <td class="align-middle">
                           
                            <a asp-controller="Saler"
                            asp-action="SearchForEstateFromDashboard" 
                            asp-route-keyWord="@item.SearchTitle"
                            asp-route-categotyId="@item.CategoryId"
                            asp-route-placeId="@item.PlaceId"
                            class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Search">
                                Search Again 
                            </a>
                            <a asp-controller="Saler"
                            asp-action="DeleteSearch" 
                           
                            asp-route-deleteAll="false"
                            asp-route-placeId="@item.UserSearchId"
                            class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete">
                                Delete Seach Record 
                            </a>
                        </td>
                    </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
 </div>