@model IEnumerable<Makaani.Models.Feed>;
@{
    Layout = "_LayoutAdmin";
}
 <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-success shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Authors table</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>

                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>

                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach(var tes in Model){
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="~/uploads/@tes.User.ProfileImage" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@tes.User.FullName</h6>
                           
                          </div>
                        </div>
                      </td>

                      <td class="align-middle text-center text-sm">
                            <span class="badge badge-sm bg-gradient-success">@tes.Testimonails.Title</span>
                        </td>

                        <td class="align-middle text-center text-sm">
                            <span class="badge badge-sm bg-gradient-success">@tes.Testimonails.Description</span>
                        </td>
                     
                      <td class="align-middle">
                           
                            <a asp-action="AcceptTesitominals" asp-route-id="@tes.Testimonails.TestimonailsId" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Accept">
                                Accept
                            </a>

                            <a asp-action="RejectTesitominals" asp-route-id="@tes.Testimonails.TestimonailsId" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Reject">
                                Reject
                            </a>
                        </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>